@import "./variable.scss";
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: IRANSans;
}

@font-face {
  font-family: $body-font;
  src: url("../fonts/IRANSans.ttf") format("ttf"),
    url("../fonts/IRANSansWeb.eot") format("eot"),
    url("../fonts/IRANSansWeb.woff") format("woff"),
    url("../fonts/IRANSansWeb.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: $body-font;
  font-size: $normal-font-size;
  color: $first-color-dark;
  box-sizing: border-box;
  h1 {
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}
