@import "./reset.scss";
@import "./variable.scss";
@import "./extends.scss";
@import "./mixin.scss";

.login {
  @include flex(flex, null, center, null);
  position: relative;
  @include width-height(100vw, 100vh);
  .login-forms {
    .login-registre {
      @extend .login-registre-create;
      .login-box {
        @extend .login-box;
        .login-icon {
          @extend .login-icon;
        }
        .login-input {
          @extend .login-input;
        }
      }
      .login-forget {
        @extend .login-forget;
      }
      .login-button {
        @extend .login-button;
        &:active {
          transform: scale(1.1);
        }
        &:hover {
          background-color: $first-color-dark;
        }
      }
      div {
        .login-account {
          color: rgba(0, 0, 0, 0.7);
          @extend .login-account-signin-signup;
        }
        .login-signin {
          color: rgba(0, 0, 0, 0.4);
          cursor: pointer;
          @extend .login-account-signin-signup;
        }
      }
    }
    .login-create {
      @extend .login-registre-create;
      .login-box {
        @extend .login-box;
        .login-icon {
          @extend .login-icon;
        }
        .login-input {
          @extend .login-input;
        }
      }
      .login-button {
        @extend .login-button;
        &:active {
          transform: scale(1.1);
        }
        &:hover {
          background-color: $first-color-dark;
        }
      }
      div {
        .login-account {
          color: rgba(0, 0, 0, 0.7);
          @extend .login-account-signin-signup;
        }
        .login-signup {
          color: rgba(0, 0, 0, 0.4);
          cursor: pointer;
          @extend .login-account-signin-signup;
        }
      }
      div.login-socail {
        @include margin-padding(ture, 1.5rem, null, null, null);
        .login-social-icon {
          font-size: 1.5rem;
          color: $first-color;
          margin: 0 1.5rem;
        }
        :active {
          transition: 0.4s;
          color: $first-color-dark;
          transform: scale(1.5);
        }
      }
    }
  }
}
/* ===== MEDIA QUERIES =====*/

@media screen and (max-width: 1023px) {
  .login {
    display: flex;
    flex-direction: column;
    @include width-height(100%, 100%);
    .login-content {
      @include margin-padding(
        ture,
        null,
        null,
        $responsive-magin-bottom-image,
        null
      );
      @include flex(flex, null, center, center);
      width: 70%;
      z-index: 0;
      .login-img {
        img {
          @include width-height(280px, 280px);
        }
      }
    }
    .login-forms {
      @include margin-padding(
        false,
        null,
        null,
        $padding-responsive-form,
        null
      );
      z-index: 1;
      @include flex(flex, null, center, center);
      width: 70%;
    }
  }
}
@media screen and (min-width: 1024px) {
  .login {
    justify-content: center;
    flex-direction: row-reverse;
    .login-content {
      @include flex(flex, row, center, flex-end);
      background-color: #f2f2f2;
      border-radius: 2.5%;
      @include width-height(580px, 620px);
      .login-img {
        img {
          @include width-height(400px, 400px);
          margin: 20px;
        }
      }
    }
    .login-forms {
      width: 300px;
      margin-left: -9rem;
    }
  }
}
