<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/style.css")
        link(rel="stylesheet",href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
             integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" )
        title peoject-3
    body
        section.container
           section.signin-signup#signin-signup
                 section(class="sign-in-form" id="sign-in-form") 
                   div.sign-in#sign-in-div
                     h2.title ورود
                     div.input-field 
                       i(class="fa fa-user")
                       input(type="text" placeholder="نام کاربری")
                     div.input-field 
                       i(class="fa fa-lock")
                       input(type="password" placeholder="رمز عبور")
                     div.btn-login   
                       input(href="#" type="submit" value="ورود" class="btn" id="btn-signin")  
                       input(href="#" type="submit" value="ثبت نام" class="responsive-btn" id="responsive-create")                       
                     div.socail-media 
                       p.socail-text یا می تونی از طریق حساب های دیگه ام ورود کنی
                       div
                         a(href="" class="socail-icon")
                          i(class="fab fa-facebook-f")
                         a(href="" class="socail-icon") 
                          i(class="fab fa-twitter")
                         a(href="" class="socail-icon") 
                          i(class="fab fa-google")
                         a(href="" class="socail-icon") 
                          i(class="fab  fa-linkedin-in")
                 section(class="sign-up-form" id="sign-up-form") 
                   div.sign-up#sign-up-div
                     h2.title ثبت نام
                     div.input-field 
                       i(class="fa fa-user")
                       input(type="text" placeholder="نام کاربری")
                     div.input-field 
                       i(class="fas fa-envelope")
                       input(type="text" placeholder="ایمیل")
                     div.input-field 
                       i(class="fa fa-lock")
                       input(type="password" placeholder="رمز عبور")
                     div.btn-login  
                       input(href="#" type="submit" value="ثبت نام" class="btn" id="btn-signin")  
                       input(href="#" type="submit" value="ورود" class="responsive-btn" id="responsive-login")                       
                     div.socail-media 
                       p.socail-text یا می تونی از طریق حساب های دیگه ام ورود کنی
                       div
                         a(href="" class="socail-icon")
                          i(class="fab fa-facebook-f")
                         a(href="" class="socail-icon") 
                          i(class="fab fa-twitter")
                         a(href="" class="socail-icon") 
                          i(class="fab fa-google")
                         a(href="" class="socail-icon") 
                          i(class="fab  fa-linkedin-in")                                             
           div.circle#circle         
           div.pannel-right#pannel-left 
                h3 تازه واردی ؟
                p لورم ایپسوم  متن ساختگی با تولید سادگی نامفهوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ لور م ایپسوم سادگی نامفهوم از صنعت چاپ ؟              
                button#button-1 ثبت نام
           img(src="../img/desk.svg", alt="" class="img-1" id="img-1")              
           div.pannel-left#pannel-right 
                h3 یکی از مایی ؟
                p لورم ایپسوم  متن ساختگی با تولید سادگی نامفهوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ لور م ایپسوم  با   سادگی نامفهوم از صنعت چاپ ؟      
                button#button-2 ورود
           img(src="../img/logo.svg", alt="" class="img-2" id="img-2")              
    script(src="../js/index.js")
