.click-circle-1 {
  transform: translate(9%, -65%) !important;
}
.img-1-part-1 {
  transform: translate(-120.5%, 0) !important;
}
.pannel-right-1 {
  transform: translate(-120.5%, 10%) !important;
}
.img-2-part-1 {
  transform: translate(-150%, 0) !important;
}
.pannel-left-1 {
  transform: translate(-150%, 10%) !important;
}
.sign_in_form_1 {
  transform: translateX(-50%) !important ;
}
.click-circle-responsive {
  transform: translate(-35%, -5%) !important;
}
