// ============= reset for Project  ====================
@import "./variable.scss";
@font-face {
  font-family: $body-font;
  src: url("../fonts/IRANSans.ttf") format("ttf"),
    url("../fonts/IRANSansWeb.eot") format("eot"),
    url("../fonts/IRANSansWeb.woff") format("woff"),
    url("../fonts/IRANSansWeb.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

body,
* {
  margin: 0;
  padding: 0;
  font-family: $body-font;
  color: $first-color;
  box-sizing: border-box;
  transition: 0.3s;
  a {
    text-decoration: none;
  }

  // for responsive image

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
