@import "./extends.scss";
@import "./mixin.scss";
@import "./reset.scss";
@import "./variable.scss";


.container {
  position: relative;
  @include width-height(null, 100vh);
  overflow: hidden;
  .shape1 {
    @extend .shape;
    @include position-absolute(null, -7rem, null, null, -3.5rem);
  }
  .shape2 {
    @extend .shape;
    @include position-absolute(null, null, -5.5rem, -6rem, null);
    transform: rotate(180deg);
  }
  .form {
    @include width-height(null, 100vh);
    @include flex();
    .form-img {
      display: none;
    }
    .form-content {
      position: relative;
      @include width-height(290px, null);
      .content-title {
        @include font-style($big-font-size, null, 500);
        @include margin-padding(true, null, null, 4rem, null);
      }
      span.title {
        @include position-absolute(absolute, 4rem, null, null, null);
        opacity: 0.75;
        background-color: $first-color;
        @include width-height(175px, 3px);
      }
      .content-body {
        @include margin-padding(true, null, null, 1.5rem, null);
        .field {
          @extend .field;
          .field-icon {
            @include font-style(1.5rem, $text-color, null);
            i {
              color: $text-color;
            }
          }
          .field-container {
            .field-label {
              @extend .field-label;
            }
            .field-input {
              @extend .field-input;
            }
          }
        }
        .field.focus {
          border-bottom: 1px solid $first-color;
          .field-icon {
            i {
              color: $first-color;
            }
          }
          .field-label {
            top: -1.5rem;
            @include font-style(0.875rem, $first-color, null);
          }
        }
      }
      .content-footer {
        .form-forget {
          @extend .form-forget;
        }
        .form-button {
          @extend .form-button;
        }
        .form-social {
          @include flex(flex, row, center, space-between);
          .form-social-text {
            @extend .form-social-text;
          }
          .form-icon {
            width: 100%;
            @include flex(inline-flex, row, center, flex-end);
            .form-social-icon {
              @extend .form-social-icon;
            }
          }
        }
      }
    }
  }
}

@import "./responsive.scss";
