@import "./extends.scss";
@import "./mixin.scss";
@import "./reset.scss";
@import "./variable.scss";

.container {
  position: relative;
  @include width-height(null, 100vh);
  overflow: hidden;
  .shape1 {
    @extend .shape;
    opacity: 0.5;
    @include position-absolute(null, -7rem, null, null, -3.5rem);
    background: linear-gradient(
      180deg,
      $first-color 0%,
      rgba(196, 196, 196, 0) 100%
    );
  }
  .shape2 {
    @extend .shape;
    @include position-absolute(null, null, -5.5rem, -6rem, null);
    opacity: 0.5;
    background: linear-gradient(
      180deg,
      $first-color 0%,
      rgba(196, 196, 196, 0) 100%
    );
    transform: rotate(180deg);
  }
  .form {
    @include width-height(null, 100vh);
    @include flex();
    .form-img {
      display: none;
    }
    .form-content {
      position: relative;
      @include width-height(290px, null);
      .content-title {
        @include font-style($big-font-size, null, 500);
        @include margin-padding(true, null, null, 4rem, null);
      }
      span.title {
        @include position-absolute(absolute, 4rem, null, null, null);
        opacity: 0.75;
        background-color: $first-color;
        @include width-height(175px, 3px);
      }
      .content-body {
        @include margin-padding(true, null, null, 1.5rem, null);
        .field {
          position: relative;
          @include flex(flex, row, null, null);
          @include margin-padding(true, null, null, 2.5rem, null);
          @include margin-padding(false, 0.25rem, null, 0.25rem, null);
          border-bottom: 1px solid $text-color;
          .field-icon {
            @include font-style(1.5rem, $text-color, null);
            i {
              color: $text-color;
            }
          }
          .field-container {
            .field-label {
              display: block;
              direction: rtl;
              @include position-absolute(absolute, 0.45rem, 2rem, null, null);
              @include font-style($normal-font-size, $text-color, null);
            }
            .field-input {
              @include position-absolute(absolute, 0, 20px, null, null);
              font-family: $body-font;
              @include width-height(80%, 100%);
              border: none;
              outline: none;
              background: none;
              @include margin-padding(false, 0.5rem, 0.75rem, 0.5rem, 0.75rem);
              @include font-style(1.2rem, $first-color, null);
            }
          }
        }
        .field.focus {
          border-bottom: 1px solid $first-color;
          .field-icon {
            i {
              color: $first-color;
            }
          }
          .field-label {
            top: -1.5rem;
            @include font-style(0.875rem, $first-color, null);
          }
        }
      }
      .content-footer {
        .form-forget {
          display: block;
          text-align: right;
          @include margin-padding(true, null, null, 2rem, null);
          font-size: $normal-font-size;
          color: $text-color;
          font-weight: 500;
          &:hover {
            color: $first-color;
          }
        }
        .form-button {
          font-family: $body-font;
          @include width-height(100%, null);
          @include margin-padding(true, null, null, 3rem, null);
          @include margin-padding(false, 1rem, 1rem, 1rem, 1rem);
          font-size: $normal-font-size;
          outline: none;
          border: none;
          background-color: $first-color;
          color: #fff;
          border-radius: 0.5rem;
          cursor: pointer;
          transition: 0.05s;
          &:active {
            transform: scale(1.1);
          }
          &:hover {
            box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.15);
          }
        }
        .form-social {
          @include flex(flex, row, center, space-between);
          .form-social-text {
            display: inline-block;
            @include width-height(80px, null);
            text-align: center;
            font-size: 18px;
          }
          .form-icon {
            width: 100%;
            @include flex(inline-flex, row, center, flex-end);
            .form-social-icon {
              @include flex(inline-flex, row, center, center);
              @include width-height(50px, 50px);
              @include margin-padding(false, 0.5rem, 0.5rem, 0.5rem, 0.5rem);
              @include margin-padding(true, null, 1rem, null, null);
              background-color: $text-color;
              @include font-style(1.25rem, #fff, null);
              border-radius: 50%;
              &:active {
                transform: scale(1.3);
              }
              &:hover {
                background-color: $first-color;
              }
              i {
                color: #fff !important;
              }
            }
          }
        }
      }
    }
  }
}

// =================== responsive style ===============

@media screen and (min-width: 968px) {
  .container {
    .shape1 {
      @include width-height(400px, 400px);
      @include position-absolute(null, -11rem, null, null, -6.5rem);
    }
    .shape2 {
      @include width-height(300px, 300px);
      @include position-absolute(null, null, -6.5rem, null, null);
    }
    .form {
      @include margin-padding(false, 0, 2rem, 0, 2rem);
      .form-content {
        @include margin-padding(yes, 125px, 125px, 125px, 125px);
        @include width-height(320px, null);
      }
      .form-img {
        display: block;
        @include width-height(700px, null);
      }
    }
  }
}
